:root {
    --bleu: blue;
    --rouge: red;
    --blanc: white;
    --jaune: yellow;
    --rose: pink;
    --vert: green;
}
* {
    
    
}
/* style pour la section hero */
.hero {
    display: block;
    align-items: center;
    gap: 50px;
    background-color: var(--blanc);
    padding-block: 50px;
    padding-inline: 20px;
    margin: 0;
} 
.hero-image {
    width: 300vh;
    height: 300vh;
}
.hero-text {
    background-color: rgba(238, 130, 130, 0.954);
    color: var(--blanc);
    margin-bottom: 2px; /* Ajuste la distance avec le text en dessous */
    display: flex;
    flex-direction: column; /* Aligne les élement verticalement */
    align-items: center;    /* Centre horizontalement tous les textes */
    justify-content: center;  
    gap: 2;                  /* Ajustez cette valeur pour reduire ou agrandir l'espace entre les deux textes */
    
}

 .phone-number   {
    background-color: black;
    color: white; 
    display: flex;
    align-items: center;
    
    
    
}

/* Le conteneur parent */
.image-container  {
    position: relative;
    display: flex;                 /* Active le flexbox */
    justify-content: center;       /* Centre le contenu horizontalement */
    align-items: center;           /* Centre le contenu verticalement */
    width: 100%;             /* S'adapte à la largeur du parent */
    overflow: hidden;        /* Empeche les debordements */

    }

    /* L'image de fond */
    .image-container img  {
        width: 100%;    /* L'image s'adapte à  la largeur */
        height: auto;   /* Maintient le ratio de l'image */ 
        display: block;  /* Suprime l'espace en bas de l'image */

    } 

    /* Le texte superpose */
    .text-superpose  {
        width: 25%;
        font-size: 12px;
        font-weight: 100;
        line-height: 0,5;
        text-align: left;
        padding: 10px;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        color: rgba(30, 255, 0, 0.982);
        background-color: transparent;
        
    }
    .btn-savoir-plus  {
        display: block;
        width: 90%;
        margin: 30px auto 0;
        padding: 15px 25px;
        background-color: #000000;
        color: #ffffff;
        border: none;
        border-radius: 8px;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        transition: all 0.3s ease;
    }

    /* Effet au survol de la souris */
    .btn-savoir-plus:hover {
        background-color: #ffffff;
        color: #ff5500;
    }
    /* check-list */
    .check-list {
        list-style: none;    /* Espace entre coche et texte */
        padding: 0;

    }
    .check-list li {
        display: flex;
        align-items: center;
        gap: 10px;     /* Espace entre coche et text */
        margin-bottom: 12px;
        font-size: 16px;
    }
    .check-list li::before {
        content: "\2713";  /* Code simple */
        color: green;
    }

      /* logo */
    .logo {
        font-family: arial; sans-serif;  /* ou une police sans serif grasse */
        font-weight: 900; /* très gras comme sur la photo */
        font-size: 40px;
        color: black;
    }
     .o-rouge {
        color: #e63946; /* le rouge de Gomycode */
        display: inline-block;
     }

     .header {
        display: flex;  /* met le logo et le burger sur la meme ligne */
        justify-content: space-between;  /* logo à gauche et burger à droite */
        align-items: center; 
        padding: 10px 20px;
        background: white; 
     }
      .menu-burger {
        display: flex;
        flex-direction: column;  /* empile les traits verticalement */
        gap: 6px;   /* espace entre les traits */
        cursor: pointer;
      }

      .menu-burger span {
        width: 28px;  /* longueur du trait */
        height: 3px;  /* épaisseur du trait */
        background-color: black; /* couleur des traits */
        border-radius: 2px;
      }
      .sup {
        font-size: 10px; /* encore plus petit */
        font-weight: 700;
        position: relative; /* important de pouvoir le bouger */
        top: -8px;  /* <-- plus le nombre est grand, plus ça monte. test -6px; -8px; -10px */

      }

      /* AI */
      .AI-titre {
        background-color: rgba(238, 255, 0, 0.118, 255, 0);
        color: #e25cf6; /* le violet de Gomycode */
        text-decoration: underline; /* le souligne */
        font-weight: 600;   /* un peu gras comme sur la photo */
        text-align: center; /* centré dans la carte */
        font-size: 18px;
        font-family: 'Inter', 'Poppins', Arial, sans-serif;
        margin-top: 80px;  /* ajoute ça pour le descendre */
        
    } 
    .AI-titre p {
        color: black;
        margin: 5px 0; /* réduit l'espace entre lignes */
        font-size: 15px;
        align-items: center;
    }

       /* image-dev2 */

    .image-dev2  {
        width: 100%;   /* l'image s'adapte à la largeur */
        height: auto;  /* maintient le ratio de l'image */
        display: block;  /* suprime l'espace en bas de l'image */
        margin-top: 50px;  /* Ajoute ça pour descendre */
    }
        /* badge-intro */
    .badge-intro {
        background-color: #8b5cf6; /* violet */
        color: white;   /* texte blanc */
        padding: 6px 14px;  /* espace à l'intérieur */
        border-radius: 20px; /* coins très arrondis = effet pilule */
        font-size: 13px;
        font-weight: 600;
        display: inline-block;  /* pour que le padding marche */
        margin: 15px 0;  /* espace haut et bas */
        
    }
    /* AI-carte */
    .AI-carte  {
     background-color: white; /* fond blanc pour la carte */
     border: 1px solid #eee;
     border-radius: 20px;
     padding: 25px;
     width: 350px auto;  /* centre la carte */
     margin: 20px auto;
     box-shadow: 0 4px 12px rgba(0,0,0,0.1);  /* petit ombre */
    } 
    /* AI-carte image */
    .AI-carte img {
        width: 100%;
        border-radius: 16px;  /* arrondit l'image */
        margin-bottom: 10px;
    }

    .AI-carte h2  {
        font-size: 18px;
        margin: 10px 0;
    }

    .btn-savoir-plus {
     width: 200px;
     height: 25px;
     background-color: #000000;
     color: #ffffff;
     border: none;
     border-radius: 5px;
     font-size: 18px;
     font-weight: 500;
     cursor: pointer;
     display: flex;
     align-items: center;
     justify-content: center;
    }

    .btn-savoir-plus:hover {
     background-color: #222222;
    }
    /* I-IA */
    .money-image {
        width: 100%;      /* l'image s'adapte à la largeur */
        height: auto;     /* maintient le ratio de l'image */
        display: block;     /* suprime l'espace en bas de l'image */
        margin-top: 50px;  /* ajoute ça pour descendre e*/
    }

    .badge-intro {
        background-color: #8b5cf6;   /* violet */
        color: white;       /* texte blanc */
        padding: 6px 14px;    /* espace à l'interieur */
        border-radius: 20px;  /* coins très arrondis = effet pilule */
        font-size: 13px;
        font-weight: 600;
        display: inline-block;  /* pour que le padding marche */
        margin: 15px 0;     /* Espace haut et bas */
    }

    /* SECTION PRICIPALE */

   .News  {
    min-height: 100vh;

    background: linear-gradient(120deg,
      #7b20ff 0%, #a84df2 45%, #e39bea 100% );
      color: white;
      position: relative;
      overflow: hidden;
      padding-top: 70px;
      padding-bottom: 120px;
   } 

    /* CONTAINER */

    .container {
        width: 100%;
        max-width: 720px;
        margin: auto;
        padding: 0 70px;
    }

      /* LOGO AI */
    .ai-logo {
        width: 92px;
        height: 92px;
        background: white;
        border-radius: 17px;
        color: #7b20ff;
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 80px;
    }

    .ai-logo span {
    font-size: 58px;
    font-weight: bold;

    }

    .ai-logo b  {
        position: absolute;
        right: -2px;
        top: -12px;
        font-size: 38px;
        color: white;
    }

       /* TITRE */

    h1  {
        font-size: 50px;
        line-height: 1,5;
        font-weight: 300;
        letter-spacing: -2px;
        margin-bottom: 90px;
    }

    /* DESCRIPTION */

    .description  {
        font-size: 20px;
        line-height: 1,55;
        font-weight: 300;
    }

    .description p  {
        margin-bottom: 25px;
    }

    /* MESSAGE WHATSAPP */

    .whatsapp-message  {
        position: fixed; 
        bottom: 15px;
        right: 20px;
        gap: 15px;           /* espace entre le bouton vert et le bouton rouge */
        display: flex;
        align-items: center;
        z-index: 1000;  /* S'assure que la barre passe au-dessus du reste du contenu */
    }

    /* Petite pointe du message */

 .whatsapp-message::after {
    content: "";
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translatey(-50%);
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid #20d463;
 }
  /* BOUTON RETOUR EN HAUT */

  .back-top {
    position: fixed;
    right: 60px;
    bottom: 60px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #ed0712;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 70px;
    font-weight: 300;
    z-index: 20;
    box-shadow: 0 5px 15px rgba(0,0,0,O.15);
    
  }
    /* BARRE WHATSAPP DU BAS */

    .whatsapp-bar  {
        display: flex;  /* ou inline-flex */
        align-items: center;
        justify-content: center;
        gap: 12px;           /* Espace entre duscutons-en et l'icone whatsapp */

        background-color: #25d366;  /* whatsapp */
        color: #000000;     /* couleur du texte */
        font-weight: 600;   /* rendre le text un peu plus gras */
        font-size: 1.1rem;  /* Agrandit légèrement le texte */
        text-decoration: none;

        width: fit-content;    /* Adapte la largeur au texte */
        padding: 14px 32px;     /* 14px haut/bas (hauteur), 32px gauche/droit (largeur) */
        margin: 25px auto 0 auto;    /* Le "auto" à gauche et à droite centre bouton */

        border: none;
        border-radius: 30px;   /* Bords bien arrondis */
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);  /* Ombre légère (optionnelle) */
        cursor: pointer;
     }

    .whatsapp-icon  {
        font-size: 30px; 

    }

    /* container principal */
    .alumni-section {
        max-width: 600px;
        margin-top: 2%;
        padding: 40px 20px;
        font-family: Arial,  sans-serif;
        text-align: center;   
        position: relative;
        
    }

    /* Titre */
    .title {
        font-size: 28px;
        font-weight: 700;
        text-align: left;
        color: #111;
        margin-bottom: 180px;
        line-height: 4px;
    }

    /* Layout des logos avec CSS Grid  */
    .logo-grid {
        display: grid;
        grid-template-columns: repeat(2,5fr);
        gap: 30px 25px;
        align-items: center;
        justify-items: center;
        margin-bottom: 40px;
    }
     .logo-grid img  {
        max-width: 130px;
        max-height: 60px;
        width: auto;
        height: auto;
        object-fit: contain;
     }
     

     /* Bouton principal */
     .btn-brochure {
        display: inline-block;
        width: 150%;
        padding: 16px 20px;
        background-color: #000;
        color: #fff;
        text-decoration: none;
        border-radius: 8px;
        font-weight: 600;
        margin-top: 200px;      /* Espace au-dessous, sous les logos */
        text-align: center;
        font-size: 16px;
        border: none;
        box-sizing: border-box;
        cursor: pointer;
        
     }

     /* widget whatsApp flottant */
     .whatsapp-widget  {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        z-index: 1000;
     } 

     .whatsapp-tooltip  {
        background-color: #25D366;
        color: #fff;
        padding: 10px 16px;
        border-radius: 20px;
        font-size: 14px;
        font-weight: 500;
        box-shadow: 0 4px 10px rgba(0,0,0,0.15);

     }

     .whatsapp-btn {
        width: 60px;
        height: 50px;
        background-color: #25D366;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 10px rgb(0,0,0,0.15)
     }

     .whatsapp-btn img  {
        width: 28px;
        height: 28px;
     }


    
    
        
    


    